:root{
    --verde: #013c31;
    --laranja: rgb(255,116,13);
    --bege: rgb(243, 243, 232);
}


body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    background-color:var(--verde)
}

#imagem{
    height: 100vh;
    background-image: url(/imagens/vegetais.png) ;
    background-size: cover;
    width: 40%;
    justify-items: center;
    filter: brightness(0.60) opacity(0.75);
}

#estruturaDoLogin{
    align-self: center;
    margin-left: 10vh;
}
h1{
    background-color: var(--laranja);
    color: white;
    margin: auto;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    width: 350px;
    padding: 5px;
    text-align: center;
}

form{
    width: 350px;
    background-color: rgb(255, 255, 255) ;
    margin: auto;
    padding: 5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    text-align: center;
    color: var(--laranja);
}

button{
    background-color: var(--laranja);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    
}

input[type=password],
input[type=email]{
    width: 80%;
    padding: 5px;   
}

input[type=password]:focus,
input[type=email]:focus{
    background-color: var(--bege)
}

