:root{
    --verde: #013C31;
    --laranja: rgb(255,116,13);
}

body{
    background-color: beige;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p, h1{
    color: var(--verde);
}

.alinha-centro{
    display: flex;
    justify-content: center;
}

#seta{
    height: 50px;
    margin: 10px 0 0 10px;
}

#pedido{
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 20px;
    
}

table{
    border-collapse: separate;
    border-spacing: 30px;
}

#selecionar-pagamento{
    width: 10%;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

#container-endereco{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#endereco{
    width: 40%;
    margin: auto;
}

#container-botao{
    margin-top: 50px;
}

button{
    width: 150px;
    height: 60px;
    background-color: #013C31;
    color: white;
    border-radius: 30px;
}
