:root{
    --verde: #013C31;
    --bege: #F8F5DF;
    --laranja: #FD750A;
}

body{
    margin: 0px;
    background-color: beige;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    background-color: var(--verde);
}

#logo{
    height: 100px;
    margin-left: 10px;
}

#nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.item-nav{
    color: var(--bege);
    text-decoration: none;
    font-size: 25px;
}

#container-botoes{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

#inscrever{
    text-decoration: none;
    color: gray;
}

#entrar{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 10px;
}

main{
    display: flex;
    justify-content: center;
}

#pesquisa{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#lupa{
    height: 40px ;
}
#container-barra-pesquisa{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#barra-pesquisa{
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid var(--laranja);
}
#barra-pesquisa:focus{
    background-color: rgb(231, 229, 229);
}

#nav-produto{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.tipo-produto{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.tipo-produto:hover{
    background-color: lightgray;
    border-bottom: 3px solid var(--laranja);
}
