:root{
    --verde: #013C31;
    --laranja: rgb(255,116,13);
}

body{
    margin: 0px;
    background-color: beige;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    background-color: var(--verde);
}

#conteudo-header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    gap: 20px;
    width: 70%;
}

#logo{
    height: 100px;
    margin-left: 10px;
}

#container-botoes{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

#inscrever{
    text-decoration: none;
    color: gray;
    font-size: large;
}

#entrar{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 2px 15px;
    border-radius: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteudo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#pesquisa{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#lupa{
    height: 40px ;
}

#container-barra-pesquisa{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#barra-pesquisa{
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid var(--laranja);
}

#barra-pesquisa:focus{
    background-color: rgb(231, 229, 229);
}

#container-nav-produto{
    display: flex;
    justify-content: center;
}

#nav-produto{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tipo-produto{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.tipo-produto:hover{
    background-color: lightgray;
    border-bottom: 3px solid var(--laranja);
}

.display-produtos{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    gap: 10px;
}

.produto{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    border: 3px solid var(--verde);
    border-radius: 5px;
    margin-left: 20px;
    width: 20%;
}

.imagem-produto{
    height: 100px;
}

.container-adicionar{
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between ;
    gap: 10px;
}

.quantos-itens{
    width: 30px;
}

#container-carrinho{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#icone-de-carrinho{
    height: 30px;
}

#botao-carrinho{
background-color: var(--verde);
border-radius: 5px;
text-decoration: none;
color: var(--laranja);
font-size: 20px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
