
#titulo-pag{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--verde);
}

h3{
    font-size: 2.25rem;
}

p{
    font-size: 1.5rem;
}

.imagem{
    width: 30rem;
}

.container-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.container-texto{
    width: 40%;
}

.container-imagem{
    width: 40%;
}

h3{
    width: 50%;
    border-bottom: 1px solid black;
}
