
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-barra-pesquisa{
    width: 50%;
    margin-top: 0.625rem;
    display: flex;
    justify-content: center;
}

#pesquisa{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center ;
    margin-bottom: 3.125rem;
}
#lupa{
    height: 2.5rem ;
}

#form-pesquisa{
    display: flex;
    width: 50%;
    padding-right: 20px;
}

#barra-pesquisa{
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border: 0.063rem solid var(--laranja);
    width: 100%;
}

#entrega-pesquisa{
    background-color: var(--laranja);
    border: none;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

#sobre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

#texto{
    width: 50%;
}

#titulo{
    width: 70%;
    border-bottom: 0.063rem solid black;
}

#paragrafo-sobre{
    font-size: 1.563rem;
}

span{
    color: var(--laranja);
    font-weight: bold;
}

#imagem{
    width: 40%;
}

#foto-da-natalia{
    height: 100%;
}

footer{
    background-color: rgb(92, 86, 86);
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

#container-info-footer{
    width: 60%;
    display: flex;
    gap: 0.625rem;
}

.info-footer{
    text-decoration: none;
    color: white;
}

#redes-sociais{
    width: 30%;
}

.logo-rede-social{
    height: 1.875rem;
}
