:root{
    --verde: #013C31;
    --laranja: rgb(255,116,13);
    --bege: rgb(243, 243, 232);
}

body{
    margin: 0px;
    background-color: var(--bege);
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    background-color: var(--verde);
    margin-bottom: 25px;
}

#conteudo-header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    gap: 20px;
    width: 70%;
}

#logo{
    height: 6.25rem;
    margin-left: 0.625rem;
}

#nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.item-nav{
    color: var(--bege);
    text-decoration: none;
    font-size: 1.563rem;
}

#container-botoes{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

#inscrever{
    text-decoration: none;
    color: gray;
    font-size: large;
}

#entrar{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 2px 15px;
    border-radius: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteudo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 10px;
}

#container-barra-pesquisa{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#pesquisa{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center ;
    margin-bottom: 50px;
    width: 50%;
}
#lupa{
    height: 40px ;
}

#form-pesquisa{
    display: flex;
    width: 50%;
    padding-right: 20px;
}

#barra-pesquisa{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
    border: 1px solid var(--laranja);
    width: 100%;
}

#entrega-pesquisa{
    background-color: var(--laranja);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#container-nav-produto{
    display: flex;
    justify-content: center;
}

#nav-produto{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
}

.tipo-produto{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.tipo-produto:hover{
    background-color: lightgray;
    border-bottom: 3px solid var(--laranja);
}

#display-produtos{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    background-color: var(--bege);
}

.produto{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    border: 3px solid var(--verde) ;
    border-radius: 5px;
    margin-left: 20px;
    width: 20%;
    margin: 20px;
}

.imagem-produto{
    width: 50%;
    height: 50%;
}

.produto-info{
    text-align: center;
}

.container-adicionar{
    display: flex;
    justify-content: center ;
    gap: 2px;
    width: 10%;
    margin: auto;
}

.botao-adicionar{
    border: none;
    background-color: var(--laranja);
    color: var(--verde);
    font-size: large;
    border-radius: 20px;
    border: 1px solid black;
}

.quantos-itens{
    width: 30px;
    border-radius: 10px;
}

#container-cesta{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#icone-de-cesta{
    height: 30px;
}

#botao-cesta{
    position: fixed;
    bottom: 0;
    background-color: var(--verde);
    border-radius: 10px;
    text-decoration: none;
    color: var(--laranja);
    font-size: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 60px;
}
